<ion-app>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Input 1</ion-label>
      <ion-input placeholder="Input 1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 2</ion-label>
      <ion-input placeholder="Input 2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 3</ion-label>
      <ion-input placeholder="Input 3"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 4</ion-label>
      <ion-input placeholder="Input 4"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 5</ion-label>
      <ion-input placeholder="Input 5"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 6</ion-label>
      <ion-input placeholder="Input 6"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 7</ion-label>
      <ion-input placeholder="Input 7"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 8</ion-label>
      <ion-input placeholder="Input 8"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 9</ion-label>
      <ion-input placeholder="Input 9"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 10</ion-label>
      <ion-input placeholder="Input 10"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 11</ion-label>
      <ion-input placeholder="Input 11"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 12</ion-label>
      <ion-input placeholder="Input 12"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 13</ion-label>
      <ion-input placeholder="Input 13"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Input 14</ion-label>
      <ion-input placeholder="Input 14"></ion-input>
    </ion-item>
  </ion-list>
</ion-app>